<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>tvb</display-name>
  
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
    <param-value>6LfLFOISAAAAAFU0-iLBYonWPs0OtI5x8-LAp9r3</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
    <param-value>6LfLFOISAAAAAJFEqsgla6z4lqLCyXxAWD___3tR</param-value>
  </context-param>
  
  <security-constraint>
    <display-name>Sistema</display-name>
    <web-resource-collection>
      <web-resource-name>sistema_resources</web-resource-name>
      <url-pattern>/faces/sistema/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Para todos</description>
      <role-name>sistema</role-name>
      <role-name>atendente</role-name>
      <role-name>administracao</role-name>
      <role-name>vendedor</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <display-name>Sistema2</display-name>
    <web-resource-collection>
      <web-resource-name>sistema2_resources</web-resource-name>
      <url-pattern>/faces/sistema2/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Para sistema</description>
      <role-name>sistema</role-name>
      <role-name>atendente</role-name>
      <role-name>administracao</role-name>
      <role-name>vendedor</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <display-name>Login</display-name>
    <web-resource-collection>
      <web-resource-name>login_resources</web-resource-name>
      <url-pattern>/faces/login.xhtml</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/faces/login.xhtml</form-login-page>
      <form-error-page>/faces/error.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  
  <error-page>
  	<error-code>403</error-code>
  	<location>/faces/login.xhtml</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/faces/login.xhtml</location>
  </error-page>
  
  <security-role>
    <description>Administracao</description>
    <role-name>administracao</role-name>
  </security-role>
  <security-role>
    <description>Usuarios de Sistema</description>
    <role-name>sistema</role-name>
  </security-role>
  <security-role>
    <description>Operacional Vendedor</description>
    <role-name>vendedor</role-name>
  </security-role>
  <security-role>
    <description>Operacional Atendente</description>
    <role-name>atendente</role-name>
  </security-role>
  
</web-app>